#n, #e, #num{
    color: blueviolet;
}
.heading{
    text-align: center;
    color: rgb(133, 199, 133);
    background: black;
    margin-left: 20rem;
    margin-right: 20rem;
    height: 2.5rem;
}


.title{
    margin-left: 10px;
    text-align: center;
    color: rgb(133, 199, 133);
    background: black;
    width: 10rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.form{
    margin: 20px 900px 0px 100px;
}


.reading{
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    color: rgb(133, 199, 133);
    background: black;
    width: 10rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.btn{
margin-top: 1rem;
}
.form-control{
    margin-bottom: 10px;
}

.table{
    text-align: center;
    margin-top: 2rem;
}
.tdiv{
    margin-left: 15rem;
    margin-right: 10rem;
}

/* .btn-btn-info{
 background-color: black;
 color: white;
} */
/* .btn-btn-danger{
    background-color:aqua;
    color: black;
   } */

   #update{
    display: none;
}

.col{
    color: blueviolet;
}